*{
            margin: 0;
            padding: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 16px;
        }
        .container{
            height: 100vh;
            width: 100vw;
            background: linear-gradient(135deg,rgb(49, 74, 109),rgb(49, 108, 55));
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .card{
            width:100%;
            max-width: 400px;
            background: linear-gradient(-135deg,rgb(87, 58, 146),rgb(29, 46, 99));
            padding: 20px;
            border-radius: 10px;
        }
        .uservalue  {
            display:flex;
            width: 100%;
            justify-content: center;
            margin-bottom: 10px;
            
            
        }
        .uservalue input{
            width: 90%;
            padding: 10px;
            border: 1px solid grey;
            outline: none;
           
            border-radius: 100px;
            transition: border 0.15s;
            

        }
        input:focus{
           border: 3px solid rgba(255,0,0,0.6);
           

            
        }
        .values{
            display: grid;
            grid-template-columns: auto auto auto auto;
            column-gap: 20px;
            row-gap: 20px;
            
            justify-content: center;

        }
        .values button{
            height: 75px;
            width: 75px;
            border-radius: 50%;
            font-size: 30px;
            font-weight: bolder;
            opacity: 0.8;
            border: 1px solid white;
            color:black;
            transition: all .15s;
            cursor: pointer;
            
        }
        .values button:hover{
            opacity: 1;
        }
